.forget-password-container {
    width: 300px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #d2d1d1;
}
.forget-password-header {
    padding: 20px;
}
.forget-password-form {
    font-size: 14px;
}
.input-link {
    padding-left: 50px;
    padding-right: 50px;
}
.forget-password-link-forget {
    float: left;
}
.forget-password-link-register {
    float: right;
    color: blue !important;
}
.forget-password-link-login {
    color: blue !important;
}
a:hover {
    color:#ff6a00!important;
    text-decoration:underline;
}
.forget-password-input {
    padding-left: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: auto;
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #d2d1d1;
}
    .forget-password-input:focus {
        box-shadow: 0 0 5px #ff6a00;
        border: 1px solid #ff6a00;
    }
.forget-password-button {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    background-color: #ff6a00;
    color: white;
    border: 1px solid #ff6a00;
}
    .forget-password-button:hover {
        background-color: white;
        color: #ff6a00;
        border: 1px solid #ff6a00;
    }