/* CSS Document */

.NewsFeed {
    box-shadow: 0px 0px 10px #b7b5b5;
}

.NewsFeedHeader {
    border-bottom: 3px solid #ff6a00;
    padding: 15px;
    font-weight: bold;
    margin-bottom:15px;
}
.MoreFeedHeader {
    border-bottom: 3px solid #ff6a00;
    padding: 15px;
    font-weight: bold;
}

.main-latest, .main-extras {
    box-shadow: 0px 0px 10px #b7b5b5;
    left: 10px;
    height: 480px;
    overflow-y: hidden;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}

    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 26px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    ul.timeline > li {
        margin: 0px 50px 10px 10px;
    }

        ul.timeline > li:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 1px solid #ff6a00;
            left: 20px;
            width: 15px;
            height: 15px;
            z-index: 400;
        }

.morelinks {
    padding:20px;
}
    .morelinks > div {
        display:inline-block;
        padding: 5px;
        margin: 5px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }

.below-courasel {
    padding-top:10px;
}
    .below-courasel > .image-div {
        padding:5px;
    }
/*.latest-articles {
    padding: 20px;
}*/
.nav-tabs .nav-link.active {
    border-bottom: 2px solid lightseagreen !important;
}
.latest-row {
    padding: 10px;
    cursor: pointer;
    height:190px;
    border-bottom: 2px solid #e5e5e5;
}
    .latest-row:hover {
        box-shadow: 0px 0px 5px #888888;
    }
.latest-image {
    height:170px;
}
.latest-official h6 {
    padding: 0px;
    margin-left: 10px;
    display: inline;
}
/*.latest-official span {
    border-radius:20px;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 10px;
}*/
.button-row {
    padding:20px;
}
.img-thumbnail {
    cursor:pointer;
}
.image-div {
    position: relative;
    height: 150px;
}
.image-below {
    height:120px;
}
.image-title {
    top: 80px;
    position: absolute;
    width: 96%;
    background: #7b7b7b38;
    color: white;
    padding-left: 20px;
}
