/* CSS Document */

body {
    font-family: ".PingFang-SC-Regular";
}
.main-header > .container {
    padding: 0;
}
ul{
	list-style-type:none;
}
a{
	cursor:pointer;
}
.nav-link {
    color: #676975;
    /*font-size: 12px;*/
}
.nav-item.active {
    border-bottom: 3px solid #FF6633;
}
    .nav-item.active > .nav-link {
        color: #FF6633;
    }
.SearchInput {
    margin-right:20px;
    font-size:15px;
    border:1px solid rgba(0,0,0,0.3);
    padding-left:10px;
    max-width: 160px;
    border-radius: 30px;
    background-color: #e5e5e5;
    height: 30px;
}
.navbar {
    padding:0;
}
.navbar-collapse {
}
.Dynamic {
    margin: 5px;
    font-size: 15px;
}
.Notice {
    margin: 5px;
    font-size: 15px;
}
.DropdownDiv {
    font-size:15px;
}
.main-header {
    font-size: 18px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px grey;
}
.carousel-indicators {
    margin-left:0;
    margin-right:0;
    width:100%;

}
.carousel-indicators li {
    width: 200px;
    background-color:#ff6a00;
}
.header {
    padding: 10px;
}
.logoDiv{
	padding:10px;
	display:inline-flex;
	}
	.logo{
		    color: white;
    background: #009DD9;
    width: 60px;
    height: 60px;
    border-radius: 38px;
    padding: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 1px grey;
    font-weight: bold;
	}
	.logotext{
		margin-left:20px;
		padding:5px;
		font-size:28px;
		font-weight:bold}
.userdiv{
	padding:10px;}
	
.dropdown-menu {
	padding:0px;
	border: 1px solid black;
	}
.dropdown-menu > li{
	color:black;
	padding:5px;
	border-bottom: 1px solid black;
	}
.upper-footer {
    padding:20px;
    color:white;
    background-color:#dbdbdb;
}
.image-responsive {
    width:100%;
    margin-bottom:10px;
}

.center {
    text-align: center;
}
.upper-footer-img {
    margin: 20px;
}
    .middle-footer {
        padding: 20px;
        color: white;
        background-color: #181818;
    }
    .middle-footer i {
        padding:20px;
    }
.lower-footer {
    padding: 10px;
    color: white;
    background-color: black;
    text-align:center;
}
.footer-image-qr {
    margin-left:auto;
    margin-right:auto;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .main-header {
        font-size: 18px !important;
    }
    .Dynamic, .Notice, .DropdownDiv, .main-latest, .below-courasel, .main-extras, .SearchInput, .main-button, .popular-relaese {
        display: none !important;
    }

    .container {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .main-header {
        font-size: 18px;
    }
    .Dynamic, .Notice, .DropdownDiv, .main-latest, .below-courasel, .main-extras, .SearchInput, .main-button, .popular-relaese {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-header {
        font-size: 11px!important;
    }
}

