/* CSS Document */

.NewsFeed {
    box-shadow: 0px 0px 10px #b7b5b5;
}

.NewsFeedHeader {
    border-bottom: 3px solid #ff6a00;
    padding: 15px;
    font-weight: bold;
    margin-bottom:15px;
}
.MoreFeedHeader {
    border-bottom: 3px solid #ff6a00;
    padding: 15px;
    font-weight: bold;
}
.main-button {
    box-shadow: 0px 0px 10px #e5e5e5;
    left: 10px;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-bottom: 10px
}
.user-p {
    font-size:11px;
    color:#808080;
    margin-bottom:0;
    text-align:center;
}
.user-badge {
    position: absolute;
    left: 183px;
    background: #ff6a00;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    padding-left:10px;
    color: white;
    font-size: 12px;
}
.user-number {
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
}
    .user-number > .col-3 {
        padding:0;
    }
.image-username-div {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.user-image {
    position: relative;
}
.latest-official {
    display:inline;
}
.latest-official > p {
    display: inline;
    font-size:12px;
}
.my-funds {
    margin-bottom: 20px;
}
.my-funds-div {
    height: 30px;
}
.user-image-icon {
    top: 50px;
    left: 145px;
    position: absolute;
}
.signature-div {
    padding:10px;
}
.signature {
    font-size:12px;
    border-radius:15px;
    background:#eee;
    padding-left:10px;
}
    .signature > p {
        padding:5px;
    }
.main-latest {
    box-shadow: 0px 0px 10px #e5e5e5;
    left: 10px;
    height: 500px;
    overflow-y: hidden;
}
.page-item.active .page-link {
    background-color: #ff6a00;
    border-color: #ff6a00;
}
.page-item .page-link {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    margin:2px;
    color: #808080;
}
.nav-tabs {
    width: 90%;
    margin-left: 4%;
}

.nav-tabs .nav-link.active {
    color: #ff6a00;
    border-bottom: 2px solid #ff6a00 !important;
    border: 0;
}
.latest-icon > p {
    color:#808080;
}
.latest-share-icon {
    color: #808080;
}
.latest-row {
    margin-bottom: 20px;
    cursor: pointer;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
}
.latest-explain > p {
    margin-bottom: 0;
}
.latest-explain {
    background:#eee;
    border-radius:3px;
    padding:5px;
}
.latest-news-row {
    margin-bottom: 10px;
    cursor: pointer;
    height: 70px;
}
.latest-news-image {
    width:100%;
    height: 70px;
}

.latest-news-heading{
    padding: 0;
    font-size: 12px;
}

.latest-news-official {
    color: #b7b5b5;
    font-size: 11px;
    padding: 0;
    margin-left: 0px;
}

.button-row {
    padding:20px;
}
.img-thumbnail {
    cursor:pointer;
}

.btn-outline-info {
    color: #ff6a00;
    border-color: #ff6a00;
}
.btn-outline-info:hover {
    background-color:#ff6a00;
    color: white;
    border-color: #ff6a00;
}
.button-favourite {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    color: white;
    float:right;
}

    .button-favourite:hover {
        background-color: #ff6a00;
        color: white;
        border: 1px solid #ff6a00;
    }
ul.breadcrumb {
    padding: 0px 10px;
    list-style: none;
    background-color: white;
    color: #808080;
}

    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }

        ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: ">";
        }

        ul.breadcrumb li a {
            color: #808080;
            text-decoration: none;
        }

            ul.breadcrumb li a:hover {
                color: #ff6a00;
                text-decoration: underline;
            }