.signup-container {
    width: 480px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #d2d1d1;
}
.signup-header {
    padding: 40px;
}
.signup-form {
    font-size: 14px;
}
.input-link {
    padding-left: 50px;
    padding-right: 70px;
    padding-top:5px;
    font-size:14px;
}
.signup-link-forget {
    float: left;
}
.signup-link-register {
    float: right;
    color: blue !important;
}
.signup-link-login {

    color: blue !important;
}
a:hover {
    color:#ff6a00!important;
    text-decoration:underline;
}
.signup-input {
    padding-left: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: auto;
    width: 360px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #d2d1d1;
}
    .signup-input:focus {
        box-shadow: 0 0 5px #ff6a00;
        border: 1px solid #ff6a00;
    }
.signup-button {
    margin-top: 10px;
    margin-bottom:5px;
    margin-left: 50px;
    width: 360px;
    height: 50px;
    font-size:18px;
    background-color: #ff6a00;
    color: white;
    border: 1px solid #ff6a00;
}
    .signup-button:hover {
        background-color: white;
        color: #ff6a00;
        border: 1px solid #ff6a00;
    }
.signup-footer {
    padding:18px;
    font-size:16px;
    margin-top:13px;
    height: 60px;
    background-color: #f1f0f0;
}