


/*.latest-articles {
    padding: 20px;
}*/
.nav-tabs .nav-link.active {
    color: #ff6a00;
    border-bottom: 2px solid #ff6a00 !important;
    border: 0;
}
.text-area-input {
    width : 100%;
    background:#f4f4f4;
}
.transaction-row {
    border: 1px solid #f4f4f4;
    padding:5px;
    font-size:12px;
}
 
